@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 400; 
  src: url('../public/fonts/brandon-grotesque-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-style: bold;
  font-weight: 700; 
  src: url('../public/fonts/brandon-grotesque-bold.woff2') format('woff2');
  font-display: swap;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.single-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Basic table styles */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 400px;
  overflow-x: auto;
}

.styled-table thead tr {
  background-color: #afa263;
  color: #ffffff;
  text-align: left;
}

.styled-table tr:first-child {
  font-weight: 700;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table th {
  color: #fff;
}
.styled-table em {
  display: block;
  text-align: center;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #afa263;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .styled-table {
    display: block; /* Ensure the table behaves like a block element */
    width: 100%; /* Ensure it takes full width */
    overflow-x: auto; /* Allow horizontal scroll */
    white-space: nowrap; /* Prevent text from wrapping */
  }
}

.productTable tr:first-child {
  font-weight: 900;
}

#product-info-section ul {
  z-index: -1 !important;
}
